[submodule "SEPA"]
	path = SEPA
	url = https://github.com/arces-wot/SEPA.git
[submodule "community-server"]
	path = community-server
	url = https://github.com/vaimee/community-server.git
[submodule "dasi-agents"]
	path = dasi-agents
	url = https://github.com/vaimee/dasi-agents.git
