[submodule "SEPA"]
	path = SEPA
	url = https://github.com/arces-wot/SEPA.git
[submodule "community-server"]
	path = community-server
	url = https://github.com/vaimee/community-server.git
[submodule "dasi-agents"]
	path = dasi-agents
	url = https://github.com/vaimee/dasi-agents.git
[submodule "scorpio"]
	path = scorpio
	url = https://github.com/vaimee/ScorpioBroker.git
	branch = development
[submodule "monas-front"]
	path = monas-front
	url = https://github.com/vaimee/monas-front.git
